.div{
    background-color: rgb(16, 194, 238);
    border-radius: 20px;
    color: black;
    margin: auto;
    width: 30vb;
    border-radius: 1 rem;
    position:relative;
    height: fit-content;
    font-family: bradley Hand;
    text-align: center;
    font-size:small;
    font-style: normal;
    font-weight: 100;
   

}

