.div{
 
    display:flex;
    flex-direction:row;
    flex-wrap: wrap;
    overflow: hidden;
    justify-content:space-between;
    width:auto;
    border-radius:40px;
    height:min-content;
    padding: 5 em;
    justify-content:center;
    margin-bottom: 2em;
    border-spacing: 10 px 5px;
    
    
}